{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <p> <h1> Choose Wisely, Choose the Best</h1> </p>
    <p> <h3> WHY CHOOSE US?</h3> </p>
    <p style="color: black"> Buying or selling a property is likely the largest and most important transaction you will ever make.
        That's why so many trust Ground Floor Property Management: the most widely recognized real estate brand in the
        world.
        For more than 20 years, we been the leading real estate organization in Canada.
        By providing the best training, administrative and marketing support, brokers and agents are free to focus on
        what they do best: sell real estate.</p>

    <p> <h3>UNRIVALLED EXPERTISE</h3></p>

    <p style="color: black"> Our experienced and knowledgeable agents are the reason we are consistently ranked number one in several
        markets across Canada. We provide our agents with exclusive tools and training to ensure they have the skills
        they need to effectively guide you through the
        real estate process </p>


{% endblock %}